<div *ngIf="!editMode">
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button size="small" (click)="editClicked()">
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
    </ion-fab>
    <div *ngFor="let tag of tags">
        <ion-chip color="secondary">
            <ion-label>{{tag.body}}</ion-label>
        </ion-chip>
    </div>
</div>
<div *ngIf="editMode">
    <div *ngFor="let tag of tags" >
        <ion-chip color="danger">
            <ion-label>{{tag.body}}</ion-label>
            <ion-icon name="close"></ion-icon>
        </ion-chip>
    </div>
    <form [formGroup]="tagForm">
        <ion-input placeholder="Enter tags" (ionBlur)="saveTags()" formControlName="tags"></ion-input>
    </form>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button size="small" (click)="editClicked()">
            <ion-item>
                    <ion-icon name="add-circle-outline"></ion-icon>
            </ion-item>
        </ion-fab-button>
    </ion-fab>
</div>