<ion-card>
  <ion-card-header>
    <ion-card-title>Take Photo</ion-card-title>
    <ion-item>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
    </ion-item>

  </ion-card-header>
  <app-camera (picture)="onPictureTaken($event)"></app-camera>
  <app-tags
    [editMode]='true'
    (tagsEmitter)="onTagChange($event)"
></app-tags>
  <ion-button (click)="savePhoto()">Save</ion-button>
</ion-card>
<span *ngIf="(photos$ | async)?.length > 0">
  <ion-card *ngFor="let photo of (photos$ | async)">
    <ion-card-header>
      <ion-card-title>Photos</ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="(photos$ | async)?.length > 0">
      <img [src]="photo.url" />
      <app-tags
        [editMode]="false"
        [tags]="photo.tags"
        (tagsEmitter)="onTagChange($event)"
      ></app-tags>
    </ion-card-content>
  </ion-card>
</span>
