<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-icon slot="start" color="medium" name="book"></ion-icon>

  <app-photo-component></app-photo-component>
</ion-content>
